*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

.App{
  display: grid;
  flex-wrap: wrap;
  place-content: center;
  height: 100vh;
}

.grid{
  background-color: black;
  border: 1px solid black;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:    repeat(3, 1fr);
  gap:1px;
  height: 90vh;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.grid p{
  background-color: white;
  display: grid;
  flex-wrap: wrap;
  place-content: center;
  font-size: 40px;
}